<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefonica</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
	<style>
		.jumbotron {
			width: 600px;
			text-align: center;
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
		h3 {
			margin-bottom: 30px;
		}
		.table {
			margin-top: 20px;
		}
		.selecionado {
			background-color: yellow;
		}
		.negrito {
			font-weight: bold;
		}
		hr {
			border-color: #999;
		}
	</style>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
	<script>
		angular.module("listaTelefonica", ["ngMessages"]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope, $http) {
			$scope.app = "Lista Telefonica";
			$scope.contatos = [];
			$scope.operadoras = [];
			var carregarContatos = function () {
				$http.get("http://localhost:8888/angular-Branas/Aula-06/backend/contatosBackend.php").success(function (data) {
					$scope.contatos = data;
				}).error(function (data, status) {
					$scope.message = "Aconteceu um problema: " + data;
				});
			};
			var carregarOperadoras = function () {
				$http.get("http://localhost:8888/angular-Branas/Aula-06/backend/operadorasBackend.php").success(function (data) {
					$scope.operadoras = data;
				});
			};
			$scope.adicionarContato = function (contato) {
				contato.data = new Date();
				$http.post("http://localhost:8888/angular-Branas/Aula-06/backend/contatosBackend.php", contato).success(function (data) {
					delete $scope.contato;
					$scope.contatoForm.$setPristine();
					carregarContatos();
				});
			};
			$scope.apagarContatos = function (contatos) {
				$scope.contatos = contatos.filter(function (contato) {
					if (!contato.selecionado) return contato;
				});
			};
			$scope.isContatoSelecionado = function (contatos) {
				return contatos.some(function (contato) {
					return contato.selecionado;
				});
			};
			$scope.ordenarPor = function (campo) {
				$scope.criterioDeOrdenacao = campo;
				$scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
			};
			carregarContatos();
			carregarOperadoras();
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h3>{{app}}</h3>
		{{message}}
		<input type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?" class="validate"/>
		<table ng-show="contatos.length > 0" class="table table-striped">
			<tr>
				<th></th>
				<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
				<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Data</th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
				<td>
					<input type="checkbox" id="contato-{{$index}}"  ng-model="contato.selecionado" />
     				<label for="contato-{{$index}}"></label>
				</td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadora.nome}}</td>
				<td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
			</tr>
		</table>
		<hr/>
		<div class="row">
			<form name="contatoForm" class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input id="nome" name="nome" type="text" class="validate" ng-model="contato.nome" ng-required="true" ng-minlength="10" />
						<label for="nome">Nome</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="telefone" name="telefone" type="text" class="validate" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
						<label for="telefone">Telefone</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field">
						<select class="browser-default"  ng-model="contato.operadora" ng-options="operadora.nome for operadora in operadoras | orderBy:'nome'">
							<option value="" disabled selected>Selecione uma operadora</option>
						</select>
					</div>
				</div>
			</form>
		</div>

		<div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
			<div ng-message="required" class="alert alert-danger">
				Por favor, preencha o campo nome!
			</div>
			<div ng-message="minlength" class="alert alert-danger">
				O campo nome deve ter no mínimo 10 caracteres.
			</div>
		</div>

		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha o campo telefone!
		</div>
		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ter o formato DDDDD-DDDD.
		</div>
		<button class="btn btn-large blue waves-effect waves-light col s12" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
		<button class="btn btn-large red waves-effect waves-light col s12" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
	</div>
	<div ng-include="'footer.html'"></div>

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script> 
</body>
</html>